# Doc: https://git-scm.com/docs/gitattributes
# Useful hint using * and **: https://stackoverflow.com/a/62564526/151453

# normalize all introduced text files to LF line endings (recognized by git)
*           text=auto

# 2022.07, Jetbrains IntelliJ/PyCharm project-setting files 
# * .idea/inspectionProfiles/profiles_settings.xml 
# * .idea/RunConfigurations/*.xml
# always use LF as line-ending, event on Windows.
# So we should mark them as non-text(=no doing CRLF conversion).
**/inspectionProfiles/*.xml  -text
**/RunConfigurations/*.xml   -text
